<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon-16x16.png">
  <link rel="manifest" href="../assets/site.webmanifest">
  <link rel="mask-icon" href="../assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://use.typekit.net/dlo2zly.css">

  <!-- Browser Title -->
  <title>About / Caz</title>  

  <link href="../main.82cfd66e.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
</head>

<body>

 <!-- Add your content of header -->
<header class="">
  <!-- Mobile/Tablet menu -->
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="../index.html" class="navbar-brand">Caz's Portfolio</a>
  </div>

  <!-- Navbar -->
  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs d-flex">
          <!-- Navbar Title -->
          <a class="site-brand w-100" href="../index.html" title="">
            <img class="img-responsive site-logo" alt="" src="../assets/images/logo.svg">
            <span>Caz's Portfolio</span>
          </a>
      </div>
      <!-- Navbar links -->
      <ul class="nav">
        <li><a href="../index.html" title="">Projects</a></li>
        <li><a href="./about.html" class="active">About</a></li>
        <li><a href="./freelance.html" title="">Freelance</a></li>
        <li><a href="./contact.html" title="">Contact</a></li>
      </ul>

      <!-- Navbar Footer -->
      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/caz.g.design/?hl=en-gb" title="" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://www.linkedin.com/in/carolina-costa-e-silva-3850501ba/" title="" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </p>
        <p class="nav-footer-info">© Carolina Costa e Silva | Website created with 
          <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>
        </p>
      </nav>  
    </div> 
  </nav>
</header>

<main id="main-collapse">
  <h1>About me</h1>
  <div class="row flew-row">
    <div id="about-text" class="col-xs-12 col-md-6">            
      <div class="about-container">
        <p>
          I’m Carolina, but you can call me Caz.
          I am a jewellery loving, Portuguese gal, embracing the cold climate of Bournemouth. Creating has always excited me, so Graphic Design was a pathway that I found myself naturally drawn to, which led me to Arts University Bournemouth to follow my dreams.
        </p>
        <p>  
          University has developed my graphic design skills in software but most importantly with critical thinking, a design with no purpose or audience is impractical. Many of my recent projects begin with insightful research which informs my ideas and designs too be appropriate to the issue in which it is trying to solve. An example of this was the ‘RSA: For the Long Time’ brief, my outputs were helped by the research and interview I conducted with my old History teacher, ensuring the conceptual design was viable and useful. 
          Collaborative work is an essential part of designing and is also my favourite, with a recent intense two-week brief run by Dyson, helped me develop team work skills whilst under time pressure and constraints. It gave me insight to what industry might be like and build relationships with new peers.
        </p>
        <p>
          Keeping active, particularly running, helps me relax and unwind after a stressful day. It motivates me to keep on top of work so that I can have the moment to myself. I have had work experience with DS Smith Packaging, helping create boxes on Computer Aided Design for clients. This experience has shown me how to deal with the work load at industry standard, ensuring that I am always organised and prepared for any outcome. It also gave me background knowledge into the importance of packaging as advertisement. Additionally, this experience helped me with my industry project by putting the client’s views before mine and hit their requirements, without my objectives completely clouding the designs.
        </p>
        <p>
          Whilst I have enjoyed designing logos for my friends and family, a job that inspires me to create exciting designs, is a challenge I am willing to take. Preferably with a company that is ethical and environmentally conscious. I would love to show you what I am capable of, so please get in touch and I’ll be sure to respond with a friendly email!
        </p>            
      </div>      
      <a href="../assets/cv/Carolina-Costa-E-Silva.pdf" class="btn btn-primary">CHECK OUT MY CV</a>
    </div>

    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" alt="" src="../assets/images/about.svg">
    </div>
  </div>    
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script type="text/javascript" src="../main.85741bff.js"></script></body>

</html>